<app-appheader *ngIf="hardcodedAuthentication.isUserLoggedIn()"></app-appheader>
<app-appmenu *ngIf="hardcodedAuthentication.isUserLoggedIn()"></app-appmenu>
    
      <div class="content-wrapper">
          
          <h1 *ngIf="!hardcodedAuthentication.isUserLoggedIn()" class="text-xl-center">Desolé! Vous vous n'êtes pas connecté.</h1>
          <br>
          <button *ngIf="!hardcodedAuthentication.isUserLoggedIn()" routerLink="/" class="btn btn-lg btn-primary">Se connecter</button>
          <table *ngIf="hardcodedAuthentication.isUserLoggedIn()" class="table table-striped">
            
            <thead class="thead-dark">
              <tr>
                  <th scope="col">Type d'operation</th>
                <th scope="col">Numero</th>
                <th scope="col">Date operation</th>
                <th scope="col">Montant</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let operation of operations">
                  <td>{{operation.typeOp}}</td>
                <td>{{operation.numero}}</td>
                <td>{{operation.dateOperation}}</td>
                <td>{{operation.montant}}</td>
                
                
                
              </tr>
          
            </tbody>
          </table>
      </div>
<app-appfooter></app-appfooter>
